
<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Loan Registration</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
     <nav th:replace="/fragment/header.html::header"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav th:replace="/fragment/sidebar.html::sidebar"></nav>        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

          
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="page-header">
                      <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-info text-white mr-2">
                          <i class="mdi mdi-home"></i>
                        </span> Loan Registration
                      </h3>
                      
                  
                    </div>
                    
					 <div th:if="${progress}">
                            <div class="alert alert-danger">
                            The customer is in progress !!!
                            </div>
                        </div>
                    <form class="forms-sample" th:action="@{/addLoanInfo}" th:object="${loanInfoForm}" method="post">
 						
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputUsername2" class="col-sm-2 col-form-label">Customer Code *</label>
                        <div class="col-sm-4 ">
                          <input type="text" class="form-control" id="exampleInputUsername2"  th:field="*{customerCode}" placeholder="Customer Code" readonly  >
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Loan Amount *</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Loan Amount" th:field="*{loanAmount}">
                          <br>
                          <p th:if="${#fields.hasErrors('loanAmount')}" th:errors="*{loanAmount}"
														style="color: red;"></p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Register Date *</label>
                        <div class="col-sm-4">
                          <input type="date" class="form-control" id="exampleInputEmail2" placeholder="Register Date" th:field="*{registerDate}">
                          <br>
                          <p th:if="${#fields.hasErrors('registerDate')}" th:errors="*{registerDate}"
														style="color: red;"></p>
                        </div>
                        
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Loan Term in Years *</label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Period" th:field="*{loanTermYear}">
                                                  <br>
                          <p th:if="${#fields.hasErrors('loanTermYear')}" th:errors="*{loanTermYear}"
														style="color: red;"></p>
                        </div>

                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Interest Rate *</label>
                        <div class="col-sm-4">
                          <input type="number" min="0" max="9" class="form-control" id="exampleInputEmail2" placeholder="Interest Rate" th:field="*{interestRate}">
                        <p th:if="${#fields.hasErrors('interestRate')}" th:errors="*{interestRate}"
														style="color: red;"></p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-4">
                          <textarea class="form-control" id="exampleInputEmail2" placeholder="Description"  th:field="*{description}"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-3"></div>
                        <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Credit Score</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control"  th:field="*{creditScore}" id="exampleInputEmail2" placeholder="Credit Score" readonly   > 
                        <input type="hidden" id="credit">
                        
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-sm-5"></div>
                      <div class="col-sm-7">
                        <button type="submit" class="btn btn-gradient-primary mr-2">ADD</button>
                        <a th:href="@{/searchCRM}"  class="btn btn-secondary">BACK</a>

                    </div>
                    </div>
                  
                    </form>
                  
                </div>
              </div>
            </div>

          </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer th:replace="/fragment/footer.html::footer"></footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/dashboard.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
